
    <!-- Grid Section -->
    <section id="guides_section">
        <div class="container">
            <h3 class="headline" style=" width: 70% " > InfraSIM repositories overview </h3>
            <hr>
            </hr>

            <!-- Guide Row -->
            <div class="row" style="flex: auto;">
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin:auto">
                    <h4 style="margin:0px 20px;">Source code<br><br></h4>
                    <!-- <a href="https://github.com/InfraSIM" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Github (pubilc)</h5>
                    </a>
                    <a href=" https://eos2git.cec.lab.emc.com/InfraSIM" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Github (private)</h5>
                    </a> -->
					<a href="https://github.com/InfraSIM" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Github</h5>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:0px 20px;">Documentation<br><br></h4>
                    <a href="http://infrasim.readthedocs.io/en/latest/" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">Infrasim docs</h5>
                    </a>
                    <!-- <a href="https://opseroom01.corp.emc.com/eRoom/Hardware2/GHTS/0_76a7" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">eRoom</h5>
                    </a>
					-->
                    <a href="https://hardware.corp.emc.com/display/HWSIM/HW+Simulator+requirements" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">InfraSIM requirements</h5>
                    </a>
                     <a href=" http://download.qemu.org/qemu-doc.html" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">QEMU docs</h5>
                    </a>
                </div>
				
				<!--
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:0px 20px;">For Development<br><br></h4>
                    <a class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Syncplicity: Syncplicity Folders\HW simulator</h5>
                    </a>
                    <a class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Isilon: \\10.62.59.130</h5>
                    </a>
                    <a class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Jump server: 10.62.59.166 (Windows) 10.62.59.243 (Linux)</h5>
                    </a>
                </div>
				-->
				
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                     <h4 style="margin:0px 20px;">For test<br><br></h4>
                    <a href="https://github.com/InfraSIM/test" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Test(Github)</h5>
                    </a>
                </div>
				
            </div>
            <div class="row" style="flex: auto;">
                <div class="col-lg-3 col-md-3 col-xs-12 " style="margin: auto">
                    <h4 style="margin:0px 20px;">For communication<br><br></h4>
                    <a href="https://codecommunity.slack.com/messages/infrasim/details/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Slack (InfraSIM)</h5>
                    </a>
                    <!-- <a href="https://codecommunity.slack.com/messages/infrasim_dev/details/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Slack (InfraSIM_dev)</h5>
                    </a>
					-->
                    <a href="https://groups.google.com/forum/#!forum/infrasim" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Google group</h5>
                    </a>
                </div>
                 <div class="col-lg-3 col-md-3 col-xs-12 " style="margin: auto">
                    <h4 style="margin:0px 20px;">Others<br><br></h4>
         
                    <a href="https://atlas.hashicorp.com/InfraSIM/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">hashicorp</h5>
                    </a>
					 <a href="https://bintray.com/infrasim/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark"> bintray</h5>
					 </a>
                    </a> <a href="https://hub.docker.com/r/infrasim/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">dockerhub</h5>
                    </a>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:0px 20px;">Lab<br><br></h4>
                    <a href="https://hardware.corp.emc.com/pages/viewpage.action?pageId=67502976" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Shanghai lab resource</h5>
                    </a>
                    <a href="https://hardware.corp.emc.com/display/CI/Lykan+Environment+Setup+With+vCenter" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Lykan Environment Setup With vCenter</h5>
                    </a>
                    <a href="https://hardware.corp.emc.com/display/CI/IT+Infrastructure" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">IT Infrastructure</h5>
                    </a>
                </div>
				--> 
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:0px 20px;">OnRack & RackHD<br><br></h4>
                    <a href="https://github.com/RackHD" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Github</h5>
                    </a>
                    <!-- <a href="https://roebling.hwimo.lab.emc.com/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">GHE HWIMO links</h5>
                    </a>
                    <a href="https://hardware.corp.emc.com/pages/viewpage.action?pageId=41975887" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Confluence</h5>
                    </a>
                    <a href="https://hardware.corp.emc.com/display/gheonrack/GHE+OnRack" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">OnRack</h5>
                    </a>
					-->
                </div>
            </div>
            <div class="row" style="flex: auto;">
                <h4 style="margin:0px 20px">How to setup accounts or others<br><br></h4>
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <a class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark"><strong>Corporate NT account:</strong></h5>
                    </a>
                    <a href="https://infrasim.atlassian.net/wiki" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">1. Confluence</h5>
                    </a>
                    <a href="https://infrasim.atlassian.net/secure/Dashboard.jspa" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">2. Jira</h5>
                    </a>
                </div>
				
                <!-- <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <a class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark"><strong>Github</strong></h5>
                    </a>
                    <a href="https://github.com/InfraSIM" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">1. Account of your own</h5>
                    </a>
                </div>
				-->
				
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <a class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark"><strong>Corresponding admin to grant account</strong></h5>
                    </a>
                    <a href="https://eos2git.cec.lab.emc.com" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">1.1. Github enterprise</h5>
                    </a>
                    <a href="https://hardware.corp.emc.com/display/CI/How+to+request+an+account+on+Github+Enterprise" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">1.2. Request an account on Github enterprise</h5>
                    </a>
                    <a href="https://hwtestrailprd01.corp.emc.com" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">2. TestRail</h5>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <a class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark"><strong>Slack</strong></h5>
                    </a>
                    <a href="https://codecommunity.slack.com/messages/infrasim/" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">1. Slack</h5>
                    </a>
                    <a href="http://community.emccode.com/" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">2. Get invitation</h5>
                    </a>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <a class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark"><strong>Syncplicity</strong></h5>
                    </a>
                    <a href="https://my.syncplicity.com" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">1. Install client </h5>
                    </a>
                </div>
				-->
            </div>
            <!-- /.row -->

        </div>
    </section>
