
    <!-- Grid Section -->
    <section id="guides_section">
        <div class="container">
            <h3 class="headline" style=" width: 70% " > InfraSIM documentation </h3>
            <hr>
            </hr>

            <!-- Guide Row -->
            <div class="row" style="display:flex">
                <div class="col-lg-3">
                    <img class="img-responsive"  src="img/icons8.com-User.png" alt="">
                </div>
                <div class="col-lg-3" style="margin-top: -15px">
                    <a href="http://infrasim.readthedocs.io/en/latest/user_guide.html">
                        <h4 style="margin:0px 20px;">InfraSIM User Guide<br><br></h4>
                    </a>
                    <div class="list-group" style=" margin:0 auto;">
                        <a href="http://infrasim.readthedocs.io/en/latest/overview.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Overview</h5>
                        </a>
                        <a href="http://infrasim.readthedocs.io/en/latest/installation.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Installation</h5>
                        </a>
                        <a href="http://infrasim.readthedocs.io/en/latest/get_start.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Getting started</h5>
                        </a>
                         <a href="http://infrasim.readthedocs.io/en/latest/configuration.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Configuration</h5>
                        </a>
                         <a href="http://infrasim.readthedocs.io/en/latest/how_to.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">How To</h5>
                        </a>
                         <a href="https://github.com/InfraSIM/infrasim-compute/wiki" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Wiki</h5>
                        </a>
                        <a href="https://hardware.corp.emc.com/display/HWSIM/Releases" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Releases</h5>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3">
                    <img class="img-responsive"  src="img/icons8.com-Dev.png" alt="">
                </div>
                <div class="col-lg-3" style="margin-top: -15px">
                    <a href="http://infrasim.readthedocs.io/en/latest/dev_guide.html">
                        <h4 style="margin:0px 20px;">InfraSIM Development Guide<br><br></h4>
                    </a>
                    <div class="list-group" style=" margin:0 auto;">
                        <a href="http://infrasim.readthedocs.io/en/latest/dev_guide.html#repositories" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Repositories Overview</h5>
                        </a>
                        <a href="http://infrasim.readthedocs.io/en/latest/contributing.html" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">How To Contribute</h5>
                        </a>
                        <a href="http://10.62.59.88:8080/" class="list-group-item list-group-item-fixed-border">
                             <h5 class="grid_content grid_content_dark">Jenkins</h5>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </section>
