
    <!-- Grid Section -->
    <section id="guides_section">
        <div class="container">
            <h3 class="headline" style=" width: 70% " > InfraSIM repositories overview </h3>
            <hr>
            </hr>

            <!-- Guide Row -->
            <div class="row" style="flex: auto;">
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin:auto">
                    <h4 style="margin:0px 20px;">Source code<br><br></h4>
					<a href="https://github.com/InfraSIM" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Github</h5>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:0px 20px;">Documentation<br><br></h4>
                    <a href="http://infrasim.readthedocs.io/en/latest/" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">Infrasim docs</h5>
                    </a>
                    <a href="https://infrasim.atlassian.net/secure/RapidBo" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">InfraSIM requirements </br> (Need Account)</h5>
                    </a>
                     <a href=" http://download.qemu.org/qemu-doc.html" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">QEMU docs</h5>
                    </a>
                </div>

        
                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:0px 20px">Project Trace<br><br></h4>
                    <a href="https://infrasim.atlassian.net/secure/Dashboard.jspa" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">Jira</h5>
                    </a>
                    <a href="https://infrasim.atlassian.net/wiki" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">Confluence</h5>
                    </a>
                </div>
				
				 <div class="col-lg-3 col-md-3 col-xs-12 " style="margin: auto">
                    <h4 style="margin:0px 20px;">For communication<br><br></h4>
                    <a href="https://codecommunity.slack.com/messages/infrasim/details/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Slack (InfraSIM)</h5>
                    </a>
                    <a href="https://groups.google.com/forum/#!forum/infrasim" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Google group</h5>
                    </a>
                </div>
            </div>
            <div class="row" style="flex: auto;">
                 <div class="col-lg-3 col-md-3 col-xs-12 " style="margin: auto">
                    <h4 style="margin:0px 20px;">Publish<br><br></h4>
                     <a href="https://pypi.python.org/pypi/infrasim-compute" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">pip</h5>
                     </a>
                    <a href="https://atlas.hashicorp.com/InfraSIM/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">hashicorp</h5>
                    </a>
					 <a href="https://bintray.com/infrasim/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark"> bintray</h5>
					 </a>
                    </a> <a href="https://hub.docker.com/r/infrasim/" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">dockerhub</h5>
                    </a>
                 </div>

                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:30px 0px 0px 20px;">Test<br><br></h4>
                    <a href="https://github.com/InfraSIM/infrasim-compute/tree/master/test/unit" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">Unit</h5>
                    </a>
                    <a href="https://github.com/InfraSIM/infrasim-compute/tree/master/test/functional" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">Functional</h5>
                    </a>
                    <a href="https://github.com/InfraSIM/test" class="list-group-item list-group-item-fixed-border">
                        <h5 class="grid_content grid_content_dark">Integration</h5>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-xs-12" style="margin: auto">
                    <h4 style="margin:30px 0px 0px 20px ;">RackHD<br><br></h4>
                    <a href="https://github.com/RackHD" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">Github</h5>
                    </a>
                    <a href="https://rackhd.github.io" class="list-group-item list-group-item-fixed-border">
                         <h5 class="grid_content grid_content_dark">portal</h5>
                    </a>
                </div>
            </div>


        </div> 
            
        <!-- /.row -->

    </section>
