    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><img src="img/cloud_icon.png" width = "300" alt=""></p>
                    <div class="intro-text">
                        <!--<span class="name">{{ site.title }}</span> -->
                        <!--<hr class="star-light">-->
                        <span class="roll skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <div class="btn-toolbar">
                    <a href="https://hardware.corp.emc.com/display/HWSIM/InfraSIM+Home+-+HW+simulator" class="btn btn-sm btn-outline">
                         <i class="fa fa-download"></i>Get InfraSIM
                    </a>
                    <a href="https://github.com/InfraSIM" class="btn btn-sm btn-outline">
                         <i class="fa fa-github"></i> GitHub <span class="badge">Apache 2.0</span>
                    </a>
                    <a href="https://codecommunity.slack.com/archives/infrasim" class="btn btn-sm btn-outline">
                         <i class="fa fa-slack"></i> Slack
                    </a>
                    <a href="http://infrasim.readthedocs.io/en/latest/get_start.html" class="btn btn-sm btn-outline">
                         <i class="fa fa-try"></i> Tutorials
                    </a>
                 </div>
             </div>
        </div>
    </header>
