
<!-- Portfolio Grid Section -->
<section id="usercase_section">
    <!--                      User Cases                           -->
    <div class="container">
        <!-- User Story -->
        <div class="row">
            <div class="thumbnail right-caption"style=" background-color: RGBA(64,64,64,1);">
                <div class="col-lg-6">
                    <p style="text-align:center"><img src="img/userCaseofRackHD-qnu-ur0o5x8-jeremy-beadle.png"></p>
                </div>
                <div class="col-lg-6">
                    <h3 class="headline_with_line" style="margin: 20px; color:RGB(0,176,240);"> InfraSIM use cases </h3>
                    <h4 class="grid_content" style="font-size:16px; margin: 20px; color:white;text-align: center" >
                        InfraSIM can effectively and economically simulate a bare-metal infrastructure.
                    </h4>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 21px">
            <table class="col-lg-6" >
                <tr style="height: 180px">
                    <th class="col-lg-1" style="background: lightblue;height: inherit">
                        <h3 style="color: whitesmoke;"><b>
                        D
                        A
                        Y
                        0</b></h3>
                    </th>
                    <th class="col-lg-11 " style="padding-left: 0px;padding-right: 30px;height: inherit;width:100%">
                        <div class="thumbnail right-caption" style="margin: 0px;height: inherit">
                            <div class="arrow_box grad">
                                <div class="row">
                                    <img src="img/features/icons8.com-Settings-50.png" style="float:left;margin:10px;height: 50px;width: 50px">
                                    <a href = "http://infrasim.readthedocs.io/en/latest/why_infrasim.html#infrasim-as-test-infrastructure-of-rackhd">
                                        <h3 id="day0" class="bind_hover_card"  >InfraSIM as test infrastructure of RackHD™</h3>
                                    </a>
                                </div>
                                <h5 class="grid_content">
                                    <li>- At scale test: validate RackHD functionalities and evaluate RackHD performance benchmark.</li>
                                    <li>- Telemetry data testing: generate and modify server sensor readings.</li>
                                    <li>- Node provision: customize node device tree and manipulate FE behavior.</li>
                                    <li>- Error injection: easily simulate hardware failures because of software approach for hardware simulation.</li>
                                </h5>
                            </div>
                        </div>
                    </th>
                    </tr>
            </table>

            <table class="col-lg-6">
                <tr style="height: 180px">
                    <th class="col-lg-1" style="background: lightblue;height: inherit;">
                        <h3 style="color: whitesmoke;"><b>
                        D
                        A
                        Y
                        1</b></h3>
                    </th>
                    <th class="col-lg-11" style="padding-left: 0px;padding-right: 30px;height: inherit;width:100%">
                        <div class="thumbnail right-caption" style="margin: 0px;height: inherit">
                            <div class="arrow_box">
                                <div class="row">
                                    <img src="https://maxcdn.icons8.com/office/PNG/40/Network/server-40.png" style="float:left;margin:10px;height: 50px;width: 50px">
                                    <a href = "http://infrasim.readthedocs.io/en/latest/why_infrasim.html#running-vmware-virtualization-software-inside-infrasim-virtual-server">
                                        <h3 id="day1" class="bind_hover_card" data-content="<h6 class='grid_content'> The process of taking provisioned nodes (output of Day 0) and clustering them with other nodes (servers and switches). This involves racking the gear, cabling the servers to switches and configuring L2 networking. For a turn-key solution, this step is traditionally done in the factory. However, it can easily be done in the field using RackHD workflows.</h6>" >Running VMWare Virtualization Software inside InfraSIM Virtual server</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div> <!-- End of div class="container"-->
</section>
