
<!-- Portfolio Grid Section -->
<section id="usercase_section">
    <!--                      User Cases                           -->
    <div class="container">
        <!-- User Story -->
        <div class="row">
            <div class="thumbnail right-caption"style=" background-color: RGBA(64,64,64,1);">
                <div class="col-lg-6 col-xs-12">
                    <p style="text-align:center"><img src="img/userCaseofRackHD-qnu-ur0o5x8-jeremy-beadle.png" class="img-responsive"></p>
                </div>
                <div class="col-lg-4 col-lg-offset-1 col-xs-12 col-xs-offset-0">
                    <h3 class="headline" style="margin: 18px; color:RGB(0,176,240);"> InfraSIM use cases </h3>
                    <h4 class="grid_content" style="font-size:16px; margin: 20px; color:white;text-align: center" >
                        InfraSIM can effectively and economically simulate a bare-metal infrastructure.
                    </h4>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 21px">
            <table class="col-lg-6 col-xs-12" >
                <tr style="height: 180px">
                    <th class="col-lg-1" style="background: lightblue;height: inherit">
                        <h3 style="color: whitesmoke;"><b>
                        D
                        A
                        Y
                        0</b></h3>
                    </th>
                    <th class="col-lg-11" style="padding-left: 0px;padding-right: 30px;height: inherit;width:100%">
                        <div class="row">
                            <div class="col-lg-10">
                            <a href = "http://infrasim.readthedocs.io/en/latest/why_infrasim.html#infrasim-as-test-infrastructure-of-rackhd">
                                <h3 id="day0" class="bind_hover_card" >InfraSIM as test infrastructure of RackHD™</h3>
                            </a></div>
                        </div>
                        <h5 class="grid_content">
                            <li>At scale test: validate RackHD functionalities and evaluate RackHD performance benchmark.</li>
                            <li>Telemetry data testing: generate and modify server sensor readings.</li>
                            <li>Node provision: customize node device tree and manipulate FE behavior.</li>
                            <li>Error injection: easily simulate hardware failures because of software approach for hardware simulation.</li>
                        </h5>
                    </th>
                </tr>
            </table>

            <table class="col-lg-6 col-xs-12" >
                <tr style="height: 180px">
                    <th class="col-lg-1" style="background: lightblue;height: inherit">
                        <h3 style="color: whitesmoke;"><b>
                        D
                        A
                        Y
                        1</b></h3>
                    </th>
                    <th class="col-lg-11" style="padding-left: 0px;padding-right: 30px;height: inherit;width:100%">
                        <div class="row">
                            <div class="col-lg-10">
                            <a href = "http://infrasim.readthedocs.io/en/latest/why_infrasim.html#running-vmware-virtualization-software-inside-infrasim-virtual-server">
                                <h3 id="day1" class="bind_hover_card">Running VMWare Virtualization Software inside InfraSIM Virtual server</h3>
                            </a></div>
                        </div>
                    </th>
                </tr>
            </table>

        </div>
    </div> <!-- End of div class="container"-->
</section>
